/*==============================
	Fonts
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;family=Inter:wght@400;500&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&amp;family=Inter:wght@400;500&amp;display=swap");
/*==============================
	Common styles
==============================*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #16151a;
  -webkit-font-smoothing: antialiased;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.5s ease;
  transition-property: color, background-color, border-color, box-shadow;
  cursor: pointer;
}
button:focus {
  outline: none;
}
a {
  transition: 0.5s ease;
  transition-property: color, background-color, border-color, box-shadow;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none!important;
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: 0.5s ease;
  transition-property: color, background-color, border-color, box-shadow;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #fff;
  color: #222227;
  text-shadow: none;
}
::selection {
  background: #fff;
  color: #222227;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #222227;
}
body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  outline: 1px solid #222227;
}
.tab-content {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  transition: opacity 0.4s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
:focus-visible {
  outline: 0px dotted;
}
.row--grid {
  margin-right: -10px;
  margin-left: -10px;
}
.row--grid .col-6,
.row--grid .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .row--grid {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row--grid .col-6,
  .row--grid .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.row--sidebar {
  margin-right: -10px;
  margin-left: -10px;
}
.row--sidebar .col-6,
.row--sidebar .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.owl-carousel .owl-item {
  -webkit-tr: none;
}
.login-from{
  display: flex;
  justify-content: center;
}
.login-form-btn{
  padding: 10px;
  color: #c0c0c0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form-btn:hover{
  background-color: #212529;
  color: #fff;
  text-decoration: none;
}
/*==============================
	Sidebar
==============================*/
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #16151a;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 280px;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  border-right: 1px solid #222227;
}
.sidebar__logo {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 30px 0 15px;
  border-bottom: 1px solid #222227;
}
.sidebar__logo img {
  width: 100px;
  height: auto;
  display: block;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 30px 0 0;
  width: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.sidebar__nav-link {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #c0c0c0;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  transition: 0.4s ease;
  position: relative;
}
.sidebar__nav-link svg {
  fill: #c0c0c0;
  width: 22px;
  height: auto;
  transition: fill 0.5s;
  margin-right: 12px;
  margin-bottom: 2px;
}
.sidebar__nav-link svg:last-child {
  width: 16px;
  margin-right: 0;
  margin-top: 3px;
  margin-left: 2px;
  margin-bottom: 0;
}
.sidebar__nav-link:hover {
  color: #fff;
}
.sidebar__nav-link:hover svg {
  fill: #25a56a;
}
.sidebar__nav-link--active,
.sidebar__nav-link[aria-expanded="true"] {
  color: #fff;
}
.sidebar__nav-link--active svg,
.sidebar__nav-link[aria-expanded="true"] svg {
  fill: #25a56a;
}
.sidebar__nav-link--active:hover svg,
.sidebar__nav-link[aria-expanded="true"]:hover svg {
  fill: #25a56a;
}
.sidebar__nav-link[aria-expanded="true"] {
  margin-bottom: 15px;
}
.sidebar__nav-link--active {
  cursor: default;
}
.sidebar__nav-item {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.sidebar__nav-item:last-child {
  margin-bottom: 0;
}
/* .sidebar__menu {
  padding: 0;
  display: block;
  width: 100%;
  text-align: left;
  overflow: hidden;
  background-color: #222227;
  transition: 0.4s ease;
  height: auto;
} */
/* .sidebar__menu--scroll {
  height: 165px;
  overflow: hidden;
} */
/* .sidebar__menu li {
  padding: 0 0 0 49px;
  margin-bottom: 15px;
  position: relative;
} */
/* .sidebar__menu li:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #25a56a;
  top: 50%;
  left: 25px;
  margin-top: -2px;
}
.sidebar__menu li:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
}
.sidebar__menu li:last-child:before {
  top: 11px;
}
.sidebar__menu li:first-child {
  margin-top: 0;
  padding-top: 20px;
}
.sidebar__menu li:first-child:before {
  top: 31px;
}
.sidebar__menu a {
  font-size: 14px;
  color: #c0c0c0;
  display: block;
  font-weight: 400;
}
.sidebar__menu a:hover {
  color: #25a56a;
}
.sidebar__menu a.active {
  color: #25a56a;
  cursor: default;
}
.sidebar--active {
  transform: translateX(0);
} */
@media (min-width: 576px) {
  .sidebar__logo {
    padding: 0 30px;
  }
  .sidebar__nav-link {
    margin-left: 30px;
  }
  .sidebar__menu li {
    padding: 0 0 0 64px;
  }
  .sidebar__menu li:before {
    left: 40px;
  }
} 
@media (min-width: 1200px) {
  .sidebar {
    transform: translateX(0);
  }
  .sidebar__nav {
    max-height: calc(100vh - 332px);
  }
} 
/* ==============================
	Header
==============================*/
.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 70px;
    background-color: #16151a;
    border-bottom: 1px solid #222227;
    z-index: 101;
  }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 15px;
  }
  .header__logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
  }
  .header__logo img {
    width: 100px;
    height: auto;
    display: block;
  }
  .header__actions {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: 40px;
  }
  .header__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 24px;
    position: relative;
    margin-left: 15px;
  }
  .header__action:first-child {
    margin-left: 0;
  }
  .header__action--cart span,
  .header__action--note span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 16px;
    min-width: 16px;
    color: #fff;
    padding: 0 5px;
    border-radius: 4px;
    background-color: #25a56a;
    position: absolute;
    top: 1px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    pointer-events: none;
  }
  .header__action--cart span:empty,
  .header__action--note span:empty {
    display: none;
  }
  .header__action--note a svg,
  .header__action--note button svg {
    width: 22px;
  }
  .header__action--note span {
    background-color: #2f80ed;
  }
  .header__action--cart .header__drop {
    display: none;
  }
  .header__action:hover .header__drop {
    pointer-events: auto;
    opacity: 1;
    z-index: 99;
    margin-top: 0;
  }
  .header__action-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
  }
  .header__action-btn span {
    display: none; 
  }
  .header__action-btn svg {
    width: 24px;
    height: auto;
    fill: #c0c0c0;
    transition: fill 0.5s ease;
  }
  .header__action-btn:hover svg {
    fill: #fff;
  }
  .header__btn {
    position: absolute;
    width: 24px;
    height: 22px;
    display: block;
    right: 15px;
    top: 24px;
  }
  .header__btn span {
    position: absolute;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #c0c0c0;
    border-radius: 2px;
    transition: 0.5s ease;
  }
  .header__btn span:first-child {
    top: 0;
  }
  .header__btn span:nth-child(2) {
    top: 10px;
    width: 16px;
  }
  .header__btn span:last-child {
    top: 20px;
    width: 8px;
  }
  .header__btn:hover span {
    background-color: #25a56a;
  }
  .header__btn--active span {
    background-color: #25a56a;
  }
  .header__btn--active span:first-child {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__btn--active span:nth-child(2) {
    opacity: 0;
    width: 0;
  }
  .header__btn--active span:last-child {
    width: 24px;
    transform: rotate(45deg);
    top: 9px;
  }
  .header__search {
    position: absolute;
    left: 0;
    top: -71px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #16151a;
    z-index: 1;
    padding: 0 15px;
    border-bottom: 1px solid #222227;
    transition: top 0.5s ease;
  }
  .header__search input {
    width: calc(100% - 30px);
    height: 40px;
    background-color: #222227;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
  }
  .header__search input:focus {
    border-color: #fff;
  }
  .header__search button {
    position: absolute;
    right: 60px;
    top: 15px;
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__search button svg {
    width: 20px;
    height: auto;
    fill: #c0c0c0;
    transition: fill 0.5s ease;
  }
  .header__search button:hover svg {
    fill: #25a56a;
  }
  .header__search button.close {
    right: 15px;
  }
  .header__search--active {
    top: 0;
  }
  .header__nav {
    display: none;
  }
  .header__drop {
    position: absolute;
    top: 100%;
    right: -15px;
    background-color: #222227;
    padding: 15px;
    border-radius: 12px;
    width: 200px;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    transition: 0.4s ease;
    margin-top: -5px;
  }
  .header__note {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .header__note:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .header__note svg {
    width: 16px;
    height: auto;
    margin-right: 5px;
    fill: #c0c0c0;
  }
  .header__note p {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: calc(100% - 25px);
    display: block;
    margin-bottom: 0;
    font-weight: 400;
  }
  .header__note p a {
    color: #fff;
    text-decoration: underline;
  }
  .header__note p a:hover {
    color: #fff;
    text-decoration: none;
  }
  .header__note span {
    padding: 0;
    font-size: 12px;
    color: #c0c0c0;
    position: relative;
    background-color: transparent;
    top: auto;
    left: auto;
    display: block;
    width: 100%;
    margin-top: 5px;
  }
  .header__note--succ svg {
    fill: #25a56a;
  }
  .header__note--fail svg {
    fill: #eb5757;
  }
  .header__note--info svg {
    fill: #c0c0c0;
  }
  .header__note--gift svg {
    fill: #8051d4;
  }
  .header__product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
    padding-left: 56px;
  }
  .header__product button {
    position: absolute;
    width: 14px;
    bottom: 5px;
    right: 0;
  }
  .header__product button svg {
    width: 14px;
    height: auto;
    fill: #c0c0c0;
    transition: fill 0.4s ease;
  }
  .header__product button:hover svg {
    fill: #25a56a;
  }
  .header__product img {
    width: 46px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
  }
  .header__product p {
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
  }
  .header__product p a {
    color: #fff;
  }
  .header__product p a:hover {
    color: #25a56a;
  }
  .header__product span {
    padding: 0;
    font-size: 14px;
    color: #c0c0c0;
    position: relative;
    background-color: transparent;
    top: auto;
    left: auto;
    display: block;
    width: 100%;
    margin-top: 5px;
    line-height: 100%;
  }
  .header__product:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .header__all {
    display: none;
  }
  @media (min-width: 400px) {
    .header__action {
      margin-left: 20px;
    }
    .header__action:first-child {
      margin-left: 0;
    }
    .header__actions {
      margin-right: 44px;
    }
  }
  @media (min-width: 576px) {
    .header__action--signin {
      width: auto;
      padding-left: 22px;
    }
    .header__action--signin:before {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 24px;
      background-color: #222227;
      top: 50%;
      left: 0;
      margin-top: -11px;
    }
    .header__action--signin:hover a span,
    .header__action--signin:hover button span {
      color: #fff;
    }
    .header__action--signin:hover a svg,
    .header__action--signin:hover button svg {
      fill: #25a56a;
    }
    .header__action-btn span {
      display: block;
      white-space: nowrap;
      color: #c0c0c0;
      font-size: 16px;
      margin-right: 10px;
      font-family: 'Roboto', sans-serif;
      transition: color 0.5s ease;
    }
    .header__content {
      padding: 0 30px;
    }
    .header__search {
      padding: 0 30px;
    }
    .header__search button {
      right: 75px;
    }
    .header__search button.close {
      right: 30px;
    }
    .header__btn {
      right: 30px;
    }
    .header__drop {
      width: 260px;
    }
  }
  @media (min-width: 768px) {
    .header__action {
      margin-left: 30px;
    }
    .header__action--signin {
      padding-left: 32px;
    }
  }
  @media (min-width: 1200px) {
    .header {
      position: relative;
      padding-left: 280px;
    }
    .header--mobile {
      display: none;
    }
    .header__logo,
    .header__btn {
      display: none;
    }
    .header__actions {
      margin-right: 0;
    }
    .header__action--search {
      display: none;
    }
    .header__action--cart .header__drop {
      display: block;
    }
    .header__search {
      position: relative;
      top: auto;
      left: auto;
      width: 320px;
      padding: 0;
      border: none;
      background-color: transparent;
    }
    .header__search input {
      padding: 0 60px 0 20px;
      width: 100%;
    }
    .header__search button {
      right: 20px;
    }
    .header__search button.close {
      display: none;
    }
    .header__search--active {
      top: auto;
    }
    .header__nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-right: 60px;
    }
    .header__nav a {
      font-size: 16px;
      color: #c0c0c0;
      margin-right: 30px;
      font-family: 'Roboto', sans-serif;
    }
    .header__nav a:last-child {
      margin-right: 0;
    }
    .header__nav a:hover {
      color: #25a56a;
    }
    .header__all {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgba(255,255,255,0.1);
      color: #c0c0c0;
      font-size: 13px;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
      height: 24px;
      border-radius: 8px 8px 0 0;
    }
    .header__all:hover {
      color: #25a56a;
    }
  }
  
/*==============================
	content
==============================*/
.content-album-detail {
  display: flex;
  flex-direction: column; 
  margin-right: 0;
  margin:auto;
  padding: 20px;
  padding-left: 22%;
  background-color: #212529!important; /* Màu nền tối */
  color: white; /* Màu chữ trắng */
}
.title-name-album{
  margin: 20px 0;

}
h1 {
  font-size: 36px;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff; /* Màu chữ xanh lá cây tương tự Spotify */
}

.album-content {
    display: flex;
    margin-top: 20px;
    border: 1px solid #c0c0c06a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.album-img{
    width: 290px;
}
.album-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px 20px 10px 20px;
}

.count-songs-album {
    display: flex;
    margin: 5px 0 50px;
}

.music-note-icon {
    color: #25a56a;
    display: flex;
    margin-left: 30px;
    margin-right: 15px;
}
.head-phone-icon{
    color: #25a56a;
    display: flex; 
    margin-left: 70px;
}

.icon-count-album i {
    font-size: 24px;
    margin-right: 5px;
}

.count {
    font-size: 14px;
    color: #c0c0c0;
}
.song-list-container{
    margin-left: 0;
    margin: 40px 40px;
}
.song-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.song-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.play-song{
    position: relative;
    cursor: pointer;  
}

.song-image {    
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 12px;
    
}

.song-info h3 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.song-info a{
    color: #c0c0c0;
}
.song-info a:hover{
    color: #25a56a;
}

.play-icon{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 35px!important; /* Điều chỉnh kích thước icon play theo ý muốn */
    color: #c0c0c0;  
    opacity: 0;   
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    font-size: 25px!important;
}


.play-icon:hover{
    color: #fff;
    opacity: 0.6;

}
.play-song:hover{
    opacity: 0.6;
}

button {
  padding: 10px;
  /* background-color: #1DB954; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.additional-details {
  margin-top: 40px;
  display: flex; /* Hiển thị các phần tử con theo chiều ngang */
  justify-content: space-between; /* Các phần tử con sẽ được căn giữa và cách nhau bằng khoảng trống đều nhau */
  width: 100%;
}
.info-more{
  width: 48%;
}
.other-album{
  width: 35%;
}
.additional-details h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.additional-details p {
  color: #c0c0c0;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  white-space: pre-line;

}
.albums-container {
  display: flex;

}

.albums {
  display: flex;
  flex-wrap: wrap;
}

.album {
  position: relative;
  color: #c0c0c0;
  width: 129px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.play-icon-song {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212529;
  font-size: 46px!important; /* Điều chỉnh kích thước icon play theo ý muốn */
  color: #c0c0c0; /* Màu sắc của icon play */
  opacity: 0; /* Ẩn icon play ban đầu */
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}
.album:hover img {
  transform: scale(1.1);
}

.album:hover span, .album:hover .play-icon {
  opacity: 1;
}

/* Hiển thị icon play khi di chuột vào artist */
.album:hover .play-icon:hover {
  opacity: 0.6;
}

.album img {
  width: 100%;
  border-radius: 12px;
}
.album span {
  display: block;
  margin-top: 10px;
  text-align: left;

}
.name_album{
  color: #c0c0c0;
}
.name_artist{
  color: #c0c0c0;
}
.name_artist:hover{
  color: #25a56a;
  
}

.share {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  
}
.share__link {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  height: 30px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  background-color: #25a56a;
}
.share__link svg {
  fill: #fff;
  margin-right: 10px;
  margin-top: 1px;
}
.share__link:last-child {
  margin-right: 0;
}
.share__link--fb {
  background-color: #3b5998;
}
.share__link--tw {
  background-color: #55acee;
}
.share__link--vk {
  background-color: #4c6c91;
}
.share__link:hover {
  background-color: #25a56a;
  color: #fff;
}

/*==============================
	Footer
==============================*/
.footer {
  width: 100%!important;
  background-color: #222227;
  padding: 30px 0 20px; 
  position: relative;
  overflow: hidden;
}
.footer__logo {
  margin-top: 60px;
}
.footer__logo img {
  width: 100px;
  height: auto;
}
.footer__tagline {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #c0c0c0;
  margin-bottom: 0;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
}
.footer__links a {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  color: #c0c0c0;
  font-size: 16px;
}
.footer__links a svg {
  width: 20px;
  height: auto;
  fill: #25a56a;
  margin-right: 10px;
}
.footer__links a:hover {
  color: #25a56a;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.footer__social a {
  margin-top: 20px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;
  transition-property: all;
}
.footer__social a svg {
  width: 100%;
  height: auto;
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__social a:hover {
  opacity: 1 !important;
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}
.footer__social:hover a {
  opacity: 0.6;
  -webkit-filter: grayscale(0.6);
  filter: grayscale(0.6);
}
.footer__content {
  margin-top: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.footer__copyright {
  display: block;
  font-size: 14px;
  color: #c0c0c0;
  margin-top: 20px;
}
.footer__copyright a {
  color: #c0c0c0;
}
.footer__copyright a:hover {
  color: #25a56a;
}
.footer__title {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__nav a {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #c0c0c0;
}
.footer__nav a:last-child {
  margin-bottom: 0;
}
.footer__nav a:hover {
  color: #25a56a;
}
@media (min-width: 576px) {
  .footer {
    padding: 30px 15px 20px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 20px 15px 25px;
  }
  .footer__content {
    margin-top: 70px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer__logo {
    margin-top: 50px;
  }
  .footer__title {
    margin-top: 50px;
  }
  .footer__social {
    width: auto;
    order: 2;
  }
  .footer__social a {
    margin-top: 0;
  }
  .footer__copyright {
    margin-top: 0;
    order: 1;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-left: 295px;
    padding-right: 15px;
  }
  .footer__social {
    display: inline-flex;
    width: auto;
  }
}
/*==============================
	Player
==============================*/
.player {
  position: fixed;
  z-index: 102;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #16151a;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #222227;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}
.player__cover {
  width: 100%;
  max-width: 90px;
  max-height: 90px;
}
.player__cover img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  margin-bottom: 10px;
}
.player__track {
  font-size: 16px;
  line-height: 24px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #c0c0c0;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.player__track b {
  font-weight: 600;
  color: #fff;
}
.player__content {
  width: 100%;
}
.player__btn {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #16151a;
  border-radius: 12px 12px 0 0;
  height: 40px;
  width: 90px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 103;
  color: #fff;
  font-size: 14px;
  border: 1px solid #222227;
  border-bottom: none;
}
.player__btn svg {
  width: 18px;
  height: auto;
  fill: #25a56a;
  margin-right: 8px;
}
.player--active {
  transform: translateY(0);
}
@media (min-width: 1200px) {
  .player { 
    /* width: 200 !important;    */
    padding: 20px 30px;
    transform: translateY(0);
  }
  .player__btn {
    display: none;
  }
}
.plyr__control {
  padding: 0;
}
.plyr__control svg {
  width: 24px;
  height: 24px;
  transition: fill 0.4s ease;
}
.plyr__control:hover {
  background-color: transparent !important;
}
.plyr__control:hover svg {
  fill: #25a56a;
}
.plyr__controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.plyr__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.plyr__actions button {
  margin: 0 5px;
}
.plyr__tooltip {
  background-color: #222227;
  box-shadow: none;
  color: #fff;
  font-size: 14px !important;
}
.plyr__tooltip:before {
  border-top-color: #222227;
}
.plyr__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.plyr__time {
  margin-left: 10px;
  color: #c0c0c0;
  font-size: 14px;
  line-height: 100%;
}
.plyr__volume {
  margin-right: auto;
}
.plyr__progress {
  width: 100%;
}
.plyr--audio .plyr__controls {
  padding: 0;
  color: #fff;
  background-color: transparent;
}
.plyr--full-ui input[type="range"] {
  color: #25a56a;
}
.audio #audio {
  /* background-color: red !important; */
  height: 50px;
  width: 100%;
  border-radius: 50rem;
}
/*==============================
	Single
==============================*/
.single-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #222227;
  height: 58px;
}
.single-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
  height: 48px;
}
.single-item__number {
  color: #c0c0c0;
  font-size: 22px;
  min-width: 20px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.single-item__rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #c0c0c0;
  width: 24px;
  margin-right: 10px;
}
.single-item__rate svg {
  fill: #25a56a;
  width: 20px;
  height: auto;
}
.single-item__rate--red svg {
  fill: #eb5757;
}
.single-item__cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s ease;
}
.single-item__cover img {
  width: 48px;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
  position: relative;
}
.single-item__cover svg {
  position: absolute;
  opacity: 0;
  fill: #fff;
  width: 24px;
  height: auto;
  margin: 1px 0 0 1px;
  transition: 0.5s ease;
}
.single-item__cover svg:last-child {
  opacity: 0;
}
.single-item__cover:hover svg {
  fill: #25a56a;
}
.single-item__cover.active {
  background-color: #000;
}
.single-item__cover.active img {
  opacity: 0.35;
}
.single-item__cover.active svg {
  fill: #25a56a;
}
.single-item__cover.pause svg {
  opacity: 1;
}
.single-item__cover.pause svg:last-child {
  opacity: 0;
}
.single-item__cover.play svg {
  opacity: 0;
}
.single-item__cover.play svg:last-child {
  opacity: 1;
}
.single-item__title {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: auto;
}
.single-item__title h4 {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.single-item__title h4 a {
  color: #fff;
}
.single-item__title h4 a:hover {
  color: #25a56a;
}
.single-item__title span {
  display: block;
  width: 100%;
  color: #c0c0c0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.single-item__title span a {
  color: #c0c0c0;
}
.single-item__title span a:hover {
  color: #25a56a;
}
.single-item__time {
  margin-left: 15px;
  font-size: 13px;
  color: #c0c0c0;
}
.single-item__time--live {
  background-color: #eb5757;
  color: #fff;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.single-item__add {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: rgba(37,165,106,0.15);
}
.single-item__add svg {
  width: 18px;
  height: auto;
  fill: #25a56a;
}
.single-item__add:hover {
  background-color: rgba(37,165,106,0.3);
}
.single-item__export {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: rgba(128,81,212,0.15);
}
.single-item__export svg {
  width: 18px;
  height: auto;
  fill: #8051d4;
}
.single-item__export:hover {
  background-color: rgba(128,81,212,0.3);
}
.single-item:hover .single-item__cover {
  background-color: #222227;
}
.single-item:hover .single-item__cover img {
  opacity: 0.35;
}
.single-item:hover .single-item__cover svg {
  opacity: 1;
}
.single-item:hover .single-item__cover svg:last-child {
  opacity: 0;
}
.single-item:hover .single-item__cover.play svg {
  opacity: 0;
}
.single-item:hover .single-item__cover.play svg:last-child {
  opacity: 1;
}
@media (min-width: 992px) {
  
  .single-item__title {
    max-width: 200px;
  }
}
@media (min-width: 400px) {
  .single-item__title {
    max-width: 110px;
  }
}
@media (min-width: 576px) {
  .single-item__title {
    max-width: 150px;
  }
  .single-item__time {
    font-size: 14px;
  }
}
.single-item__title {
  max-width: 80px;
}
.single-item__time {
  font-size: 12px;
}

