@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0d0f;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo span {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.menu-admin {
    width: 40px;
}

.navbar {
    background-color: #0b0d0f;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    height: 100%;
}

.navbar-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    transition: all 0.2s ease;
    margin-bottom: 20px;
}

.navbar-item:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4caf50;
    color: white;
}

.body {
    display: flex;
    align-items: flex-start;
}
